<launch>

    <arg name="robot" default="rositaur" />
    <arg name="receiver_path" default="/dev/ttyACM1" />
    <arg name="beacon_path" default="/dev/ttyACM2" />
    <arg name="receiver_number" default="103" />
    <arg name="beacon_number" default="104" />
    <arg name="pulse_integration_index" default="7" />
    <arg name="slot_map_file_name" default="receiver_beacon.yaml" />

    <node pkg="pulson_ros" name="ranges" type="tdma_node" output="screen" ns="$(arg robot)">
        <param name="pulse_integration_index" value="$(arg pulse_integration_index)" />
        <param name="node_id" value="$(arg receiver_number)" />
        <param name="dev_path" value="$(arg receiver_path)" />
        <param name="slot_map_file" value="$(find pulson_ros)/config/$(arg slot_map_file_name)" />
    </node>

</launch>
